nav {
    padding: 1.3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        width: 6rem;
        height: 1rem;
    }
}

// DESKTOP

@media (min-width:768px) {
    nav {
        padding: 4rem 5rem;

        img {
            width: 12rem;
            height: 2rem;
        }
    }
}