.attribution {
    margin-top: -0.2rem;
    font-size: 11px;
    text-align: center;
    font-weight: $fw-regular-sans;
    color: white;
    background-color: $clr-Very-Dark-Cyan;
    a {
        color: hsl(228, 45%, 44%);
    }
}