$clr-Pink: hsl(322, 100%, 66%);
$clr-Light-Pink: hsl(321, 100%, 78%);
$hover-Light-Pink: hsl(321, 100%, 85%);
$clr-Light-Red: hsl(0, 100%, 63%);
$clr-Very-Dark-Cyan: hsl(192, 100%, 9%);
$clr-Very-Pale-Blue: hsl(207, 100%, 98%);

$fw-regular-sans: 400;
$fw-semi-bold-sans: 600;
$fw-bold-sans: 700;